tsconfig.json
webpack.config.js
.eslintrc
.babelrc.js
public*
node_modules
dist
.vscode
.kube
.idea
.dockerignore
.gitlab-ci.yml
nginx.conf
jsconfig.json
*.json
.eslintrc.cjs
post-build.mjs
coverage
vitest.config.ts
website