
@keyframes logoBgGradientAnimate {
  0% {
      background-position: 0% 0%;
      transform: scale(1) translate(-50%, -50%);
  }
  50% {
      background-position: 300% 300%;
      transform: scale(1.4) translate(-35%, -35%);
  }
  100% {
      background-position: 0% 0%;
      transform: scale(1) translate(-50%, -50%);
  }
}

.image-container > .image-bg {
  background-size: 200% 200%;
  animation: logoBgGradientAnimate 7s linear infinite;
}

@keyframes logoAnimate {
  0% {
      transform: scale(1) translate(-50%, -50%);
  }
  50% {
      transform: scale(1.05) translate(-48%, -48%);
  }
  100% {
      transform: scale(1) translate(-50%, -50%);
  }
}

.image-container > .image-src {
  animation: logoAnimate 10s linear infinite;
}